# Un notebook pour filtrer les données

In [1]:
import pandas as pd

### Garder les stations qui sont dans les zones éligibles

In [2]:
df = pd.read_csv("s3://jedha-final-project-jrat/zones.csv")

In [3]:
df.head()

    Y    X   Latitude  Longitude             Color
0  79  571  50.198832   3.355932  rgb(206,136,255)
1  80  571  50.188113   3.355932  rgb(206,136,255)
2  80  579  50.188113   3.480975  rgb(208,142,255)
3  81  572  50.177394   3.371562  rgb(206,136,255)
4  83  577  50.155957   3.449714  rgb(208,142,255)